<div class="color"></div>
<div id="colorSliders">
	<rzslider rz-slider-model="red"></rzslider>
	<rzslider rz-slider-model="green"></rzslider>
	<rzslider rz-slider-model="blue"></rzslider>
	<rzslider rz-slider-model="alpha"></rzslider>
</div>
<div id="rand">
	<p> randomize under color values <input name="random" value="down" type="radio"> </p>
	<p> randomize over color values <input name="random" value="up" type="radio"> </p>
	<p> don't randomize <input name="random" value="no" type="radio" checked="checked"> </p>
</div>
<div id="brush">
	<div id="brushProperties">
		<div id="brushProps">
			<p class="title">stroke length</p>
			<div id="life"></div>
			<p class="title">smear length</p>
			<div id="smear"></div>
			<p class="title">brush width</p>
			<div id="size"></div>
		</div>
		<div id="brushSpins">
			<p></p>
			<input id="lifeSpin">
			<p></p>
			<input id="smearSpin">
			<p></p>
			<input id="sizeSpin">
		</div>
	</div>
	<label for="brushType">Select a brush</label>
	<select name="brushType" id="brushType">
		<option selected="selected">Wet</option>
		<option>Dry</option>
	</select>
</div>