@CHARSET "UTF-8";
.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5vh;
  background-color: #000;
  color: white; }

.thumbnail {
  border: 5px solid black;
  width: 168px;
  height: 128px; }

html, body {
  margin: 0px; }

.row {
  padding: 0vh 2vw;
  margin: 0px; }

.first-row {
  position: relative;
  top: 6vh; }

.container {
  margin: 0px;
  display: inline-block; }

body {
  font: 75% "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.title {
  margin: .2em; }

#container {
  margin: 2.5em auto 0em;
  height: 51.83em; }

#base {
  margin: 0em auto; }

#buttons {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 2.5em;
  right: 4em;
  width: 25%; }

#canbox {
  position: absolute;
  left: 2em;
  display: inline-block;
  margin: 0em 1.5em;
  width: 65%;
  height: 85%; }

.canvas {
  position: absolute;
  top: 0em;
  left: 0em;
  /*border: .833em solid black;*/
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#canvasFrame {
  position: absolute;
  top: -2%;
  left: -1.5%;
  width: 103%;
  height: 104%;
  background: black; }

#canvasFrameMat {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  background: white; }

#localButtons {
  margin: 0em 1.5em; }

#rand {
  margin: 0.42em 1.24em;
  width: 100%; }

#rand p {
  margin: 0em; }

#rand p input {
  position: absolute;
  right: 7em; }

#managers-wrapper {
  margin: 0.42em 1.24em;
  width: 100%; }

#managers h3 {
  text-align: left; }

#managers div p {
  margin: 0em;
  text-align: left;
  font-size: 75%; }

#managers div p input {
  position: absolute;
  right: 17em; }

#colors {
  width: 99.5%;
  margin: 0.42em 1.24em; }

#brush {
  width: 100%;
  position: relative;
  left: 1.2em; }

#brushProperties {
  width: 100%;
  height: 8em;
  margin: 0.5em 0.2em; }

#brushProps {
  display: inline-block;
  position: absolute;
  left: 0em;
  width: 70%;
  height: 8em;
  margin: 0em; }

#brushSpins {
  display: inline-block;
  position: absolute;
  right: 0em;
  width: 20%;
  height: 8em;
  margin: 0em; }

#brushSpins input {
  width: 100%;
  height: 1em; }

/*
implement black and white background behind slider
#red, #green, #blue, #alpha {
	background: black;
}*/
#swatch {
  width: 100%;
  height: 3em;
  margin: 0.42em 1.34em;
  border: .1em solid lightgray;
  background-image: none; }

#red .ui-slider-range {
  background: #ef2929; }

#red .ui-slider-handle {
  border-color: #ef2929; }

#green .ui-slider-range {
  background: #8ae234; }

#green .ui-slider-handle {
  border-color: #8ae234; }

#blue .ui-slider-range {
  background: #729fcf; }

#blue .ui-slider-handle {
  border-color: #729fcf; }

#size .ui-slider-range {
  background: #aaaaaa; }

#size .ui-slider-handle {
  background: #aaaaaa; }

#smear .ui-slider-range {
  background: #aaaaaa; }

#smear .ui-slider-handle {
  background: #aaaaaa; }

#life .ui-slider-range {
  background: #aaaaaa; }

#life .ui-slider-handle {
  background: #aaaaaa; }
