@CHARSET "UTF-8";
.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5vh;
  padding: 0vh 2vw;
  background-color: #000;
  color: white;
  z-index: 100; }

.container.nav-item {
  display: inline-block;
  padding: 0% 1%;
  height: 100%; }
  .container.nav-item:hover {
    color: #ddd;
    background-color: #333333; }

.nav-left, .nav-right {
  display: inline-block;
  position: relative;
  width: 48vw;
  height: 100%; }

.nav-right {
  text-align: right; }

.nav-arrow {
  position: absolute;
  top: 4vh;
  width: 0px;
  height: 0px;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 1vh solid white; }

.nav-item span {
  position: relative;
  top: calc(2.5vh - 0.5em);
  width: 100%; }

.arrow-container {
  margin: 0px calc(50% - 1vw); }

.signup-nav {
  position: fixed;
  top: 5vh;
  right: 3vw;
  z-index: 2; }

#canbox {
  position: relative;
  display: block;
  width: 600px;
  height: 400px;
  border: 10px solid black;
  width: 48vw;
  height: 32vw; }

.canvas {
  display: inline-block;
  position: absolute;
  width: 600px;
  height: 400px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 48vw;
  height: 32vw; }

.ui-picker {
  width: calc(100% - 10px);
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px; }
  .ui-picker.ui-color-picker {
    height: calc(100px + 2px); }

.colorSliders {
  width: 89%;
  height: 100px;
  display: inline-block; }

.swatch {
  width: calc(10% - 1px * 2);
  margin: 0% 0% 0% 1%;
  height: 100px;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ddd; }

.ui-switch {
  display: inline-block;
  position: relative;
  left: 1px;
  padding: 0px 1%;
  margin: 0px;
  border-right: 1px solid #ddd;
  border-bottom: 0px solid transparent; }
  .ui-switch.first-switch {
    border-left: 1px solid #ddd; }
  .ui-switch:hover {
    background-color: #eee; }

.row.ui-row {
  margin: 0px 0px 5vh; }

.title {
  margin: 0px 0px 0.5em 0px; }

.radio-group {
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 0px 2% 0px 0px;
  display: inline-block; }
  .radio-group .radio {
    display: inline-block;
    padding: 4px;
    border-left: 1px solid #bbb; }
    .radio-group .radio.first-radio {
      border-left: 0px solid #bbb; }
    .radio-group .radio:hover {
      background-color: #eee; }

.selected {
  background-color: #ddd; }

/**
 * Angular JS slider directive
 *
 * (c) Rafal Zajac <rzajac@gmail.com>
 * http://github.com/rzajac/angularjs-slider
 *
 * Licensed under the MIT license
 */
/* Slider colors */
/* Slider size parameters */
rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 15px 0 5px 0; }

rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap; }

rzslider span.rz-base {
  width: 100%;
  height: 100%;
  padding: 0; }

rzslider span.rz-bar {
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

rzslider.red span.rz-bar {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(left, black 0%, red 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(75%, red));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, black 0%, red 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, black 0%, red 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, black 0%, red 75%);
  /* IE10+ */
  background: linear-gradient(to right, black 0%, red 75%);
  /* W3C */ }

rzslider.green span.rz-bar {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(left, black 0%, #18b500 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(75%, #18b500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, black 0%, #18b500 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, black 0%, #18b500 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, black 0%, #18b500 75%);
  /* IE10+ */
  background: linear-gradient(to right, black 0%, #18b500 75%);
  /* W3C */ }

rzslider.blue span.rz-bar {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(left, black 0%, #006eff 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(75%, #006eff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, black 0%, #006eff 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, black 0%, #006eff 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, black 0%, #006eff 75%);
  /* IE10+ */
  background: linear-gradient(to right, black 0%, #006eff 75%);
  /* W3C */ }

rzslider.alpha span.rz-bar {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(left, gainsboro 0%, black 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, gainsboro), color-stop(75%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, gainsboro 0%, black 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, gainsboro 0%, black 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, gainsboro 0%, black 75%);
  /* IE10+ */
  background: linear-gradient(to right, gainsboro 0%, black 75%);
  /* W3C */ }

rzslider span.rz-bar.rz-selection {
  background: transparent; }

rzslider span.rz-pointer {
  z-index: 2;
  width: 8px;
  height: 8px;
  top: -2px;
  cursor: pointer;
  background-color: #000;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px; }

rzslider span.rz-pointer:after {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 2px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  content: ''; }

rzslider span.rz-pointer:hover:after {
  background-color: #ffffff; }

rzslider.red span.rz-pointer.rz-active:after {
  background-color: red; }

rzslider.green span.rz-pointer.rz-active:after {
  background-color: #18b500; }

rzslider.blue span.rz-pointer.rz-active:after {
  background-color: #006eff; }

rzslider.alpha span.rz-pointer.rz-active:after {
  background-color: gainsboro; }

rzslider span.rz-bubble {
  top: -16px;
  padding: 1px 3px;
  color: #000;
  cursor: default; }

rzslider span.rz-bubble.rz-selection {
  top: 16px; }

rzslider span.rz-bubble.rz-limit {
  color: #ccc; }

.thumbnailImg {
  border: 5px solid black;
  width: calc(100% - 10px);
  box-shadow: 0px 1px 1px #444; }

.thumbnailBox {
  display: inline-block;
  width: 29%;
  padding: 1% 2%; }

.signup {
  border-top: 1px solid transparent;
  border-right: 5px solid #bbb;
  border-bottom: 5px solid #bbb;
  border-left: 5px solid #bbb;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 0px 1px 1px #555;
  background-color: white;
  padding: 2vh 2vh; }
  .signup h1 {
    margin: 0px 0px 1vh 0px; }
  .signup button {
    margin: 2px 0px; }

.signup-buttons {
  text-align: right; }
  .signup-buttons button {
    font: .75em "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    background: #777;
    background-image: -webkit-linear-gradient(top, #777, #000000);
    background-image: -moz-linear-gradient(top, #777, #000000);
    background-image: -ms-linear-gradient(top, #777, #000000);
    background-image: -o-linear-gradient(top, #777, #000000);
    background-image: linear-gradient(to bottom, #777, #000000);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 0px 3px 3px #666666;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border: 2px solid white; }
    .signup-buttons button:hover {
      background: #000;
      background-image: -webkit-linear-gradient(top, #000, #777);
      background-image: -moz-linear-gradient(top, #000, #777);
      background-image: -ms-linear-gradient(top, #000, #777);
      background-image: -o-linear-gradient(top, #000, #777);
      background-image: linear-gradient(to bottom, #000, #777); }

.zoomImg {
  border: 4px solid black;
  box-shadow: 0px 2px 1px #444;
  width: calc(100% - 8px); }

.zoomBox {
  width: 100%; }

html, body {
  margin: 0px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: .75em "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.row {
  margin: 0px; }

.content {
  position: relative;
  top: 7vh;
  padding: 0vh 2vw; }

.container {
  margin: 0px;
  display: inline-block;
  vertical-align: top; }

.home {
  text-align: left; }

.col-lg-1 {
  width: 8vw; }

.col-lg-2 {
  width: 16vw; }

.col-lg-3 {
  width: 24vw; }

.col-lg-4 {
  width: 32vw; }

.col-lg-5 {
  width: 40vw; }

.col-lg-6 {
  width: 48vw; }

.col-lg-7 {
  width: 56vw; }

.col-lg-8 {
  width: 64vw; }

.col-lg-9 {
  width: 72vw; }

.col-lg-10 {
  width: 80vw; }

.col-lg-11 {
  width: 88vw; }

.col-lg-12 {
  width: 96vw; }

.mapBox {
  position: fixed;
  right: 2vw;
  top: 7vh; }
