$canvas-width: 600px;
$canvas-height: 400px;


#canbox{
	position: relative;
	display: block;
	width: $canvas-width; 
	height: $canvas-height;
	border: 10px solid black;
	width: 48vw;
	height: 32vw;
}
.canvas {
	display: inline-block;
	position: absolute;
	width: $canvas-width; 
	height: $canvas-height;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 48vw;
	height: 32vw;
}
