$ui-frame: #ddd;
$radio-gray: #bbb;
$ui-select: #eee;

.ui-picker{
	width: calc(100% - 10px);
	border-top: 1px solid $ui-frame;
	border-right: 1px solid $ui-frame;
	border-bottom: 1px solid $ui-frame;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 4px;
	&.ui-color-picker{
		height: calc(100px + 2px);
	}
}

.colorSliders{
	width: 89%;
	height: 100px;
	display: inline-block;
}

$swatch-border: 1px;
.swatch{
	width: calc(10% - #{$swatch-border} * 2);
	margin: 0% 0% 0% 1%;
	height: 100px;
	display: inline-block;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: $swatch-border solid $ui-frame;
}

.ui-switch{
	display: inline-block;
	position: relative;
	left: 1px;
	padding: 0px 1%;
	margin: 0px;
	border-right: 1px solid $ui-frame;
	border-bottom: 0px solid transparent;
	&.first-switch{
		border-left: 1px solid $ui-frame;
	}
	&:hover{
		background-color: $ui-select;
	}
}

.row.ui-row{
	margin: 0px 0px 5vh;
}

.title{
	margin: 0px 0px .5em 0px
}

.radio-group{
	border: 2px solid $radio-gray;
	border-radius: 5px;
	margin: 0px 2% 0px 0px;
	display: inline-block;	
	& .radio{
		display: inline-block;
		padding: 4px;
		border-left: 1px solid $radio-gray;
		&.first-radio{
			border-left: 0px solid $radio-gray;
		}
	}
}

.selected{
	background-color: $ui-frame;
}



