$nav-color: #000;

.navbar{
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 5vh;
	padding: 0vh 2vw;
	background-color: $nav-color;
	color: invert($nav-color);
	z-index: 100;
}

.container.nav-item{
	margin: 0% 1%;
	&:hover{
		font-size: 1.05em;
	}
}

.nav-left, .nav-right{
	display: inline-block;
	width: 48vw;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.nav-right{
	text-align: right;
}