$nav-color: #000;

.navbar{
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 5vh;
	background-color: $nav-color;
	color: invert($nav-color);
}

.container.nav-item{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}