@CHARSET "UTF-8";

@import "navbar";
@import "canvas";
@import "thumbnail";
@import "signup"; 

html, body{
	margin: 0px;
	font: 75% "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.row{
	padding: 0vh 2vw;
	margin: 0px;
}
.first-row{
	position: relative;
	top: 7vh;
}
.container{
	margin: 0px;
	display: inline-block;
	vertical-align: top;
}

@for $i from 1 through 12 {
	.col-lg-#{$i} {
		width: (8vw * $i - 1vw);
		position: relative;
		
	}
}

.bodyBox{
	// background-color: red;
}
.mapBox{
	// background-color: blue;
}







