@CHARSET "UTF-8";

@import "navbar";
@import "canvas";
@import "drawui";
@import "rzslider";
@import "thumbnail";
@import "signup";
@import "zoom";

html, body{
	margin: 0px;
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font: .75em "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.row{
	margin: 0px;
}
.content{
	position: relative;
	top: 7vh;
	padding: 0vh 2vw;
}
.container{
	margin: 0px;
	display: inline-block;
	vertical-align: top;
}

.home{
	text-align: left;
}

@for $i from 1 through 12 {
	.col-lg-#{$i} {
		width: (8vw * $i);
	}
}

.bodyBox{
	// background-color: red;
}
.mapBox{
	position: fixed;
	right: 2vw;
	top: 7vh;
}









