$thumbwidth: 168px;
$thumbheight: 128px;

.thumbnailImg{
	border: 5px solid black;
	width: calc(100% - 10px);
	box-shadow: 0px 1px 1px #444;
}

.thumbnailBox{
	display: inline-block;
	width: 29%;
	padding: 1% 2%;

}