<div class="row ui-row">
	<div class="ui-switch first-switch" 
		ng-class="{selected: 'standard' === colorSample}" 
		ng-click="switchSlides('standard')">Standard</div><!-- 
--><div class="ui-switch" 
	 	ng-class="{selected: 'random' === colorSample}" 
	 	ng-click="switchSlides('random')">Random</div><!-- 
--><div class="ui-switch" 
	 	ng-class="{selected: 'gradient' === colorSample}" 
	 	ng-click="switchSlides('gradient')">Gradient</div>
	<div class="row ui-picker ui-color-picker">
		<div class="colorSliders" ng-show="'standard' === colorSample">
			<rzslider
			class="red"
		    rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-model="standardColors.red"></rzslider>
			<rzslider
			class="green"
			rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-model="standardColors.green"></rzslider>
			<rzslider
			class="blue"
			rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-model="standardColors.blue"></rzslider>
			<rzslider
			class="alpha"
			rz-slider-step="0.01"
			rz-slider-precision="2"
			rz-slider-ceil="opacitySlides.max"
		    rz-slider-floor="opacitySlides.min"
		    rz-slider-model="standardColors.alpha"></rzslider>
		</div><!-- 
	 --><div class="colorSliders" ng-show="'random' === colorSample || 'gradient' === colorSample">
	 		<rzslider
			class="red"
		    rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-high="rangeColors.red.max"
		    rz-slider-model="rangeColors.red.min"></rzslider>
			<rzslider
			class="green"
			rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-high="rangeColors.green.max"
		    rz-slider-model="rangeColors.green.min"></rzslider>
			<rzslider
			class="blue"
			rz-slider-ceil="colorSlides.max"
		    rz-slider-floor="colorSlides.min"
		    rz-slider-high="rangeColors.blue.max"
		    rz-slider-model="rangeColors.blue.min"></rzslider>
			<rzslider
			class="alpha"
			rz-slider-step="0.01"
			rz-slider-precision="2"
			rz-slider-ceil="opacitySlides.max"
		    rz-slider-floor="opacitySlides.min"
		    rz-slider-high="rangeColors.alpha.max"
		    rz-slider-model="rangeColors.alpha.min"></rzslider>
		</div><!-- 
	 --><div class="swatch"
	 		ng-show="'standard' === colorSample" 
	 		style="background-color:rgba({{standardColors.red}},{{standardColors.green}},{{standardColors.blue}},{{standardColors.alpha}});"></div><!-- 
	 --><div class="swatch" 
	 		ng-show="'random' === colorSample || 'gradient' === colorSample"
	 		id="rangeSwatch"></div>
	</div>
</div>
		
<div class="row ui-row">
	<div class="ui-switch first-switch"
	ng-class="{selected: 'linear' === brush}" 
	ng-click="switchBrush('linear')">Linear</div><!-- 
	 --><div class="ui-switch"
	ng-class="{selected: 'dry' === brush}" 
	ng-click="switchBrush('dry')">Dry</div><!-- 
	 --><div class="ui-switch"
	ng-class="{selected: 'mucous' === brush}" 
	ng-click="switchBrush('mucous')">Mucous</div>
	<div class="row ui-picker">
		<div class="radio-group">
			<div class="radio first-radio" 
			ng-class="{selected: 'smooth' === interpolationStyle}" 
			ng-click="switchInterpolationStyle('smooth')">Smooth</div><!-- 
			--><div class="radio"
			ng-class="{selected: 'choppy' === interpolationStyle}" 
			ng-click="switchInterpolationStyle('choppy')">Choppy</div></div>
		<p class="title">brush width</p>
		<rzslider
		rz-slider-floor="1"
		rz-slider-ceil="1000"
		rz-slider-model="widthSlide"></rzslider>
	</div>
</div>

<div class="row ui-row">
	<div class="ui-switch first-switch"
	ng-class="{selected: 'opaque' === paint}" 
	ng-click="switchPaint('opaque')">Opaque</div><!-- 
	 --><div class="ui-switch"
	ng-class="{selected: 'tint' === paint}" 
	ng-click="switchPaint('tint')">Tint</div><!-- 
	 --><div class="ui-switch"
	ng-class="{selected: 'erase' === paint}" 
	ng-click="switchPaint('erase')">Erase</div>
	<div class="row ui-picker">
		<p class="title">Paint</p>
		<p class="title">resample (x) times</p>
		<rzslider
		rz-slider-floor="1"
		rz-slider-ceil="1000"
		rz-slider-model="sampleSlide"></rzslider>
	</div>
</div>





